<h1 class="mt-5">
    Public Domain Film Quote Search
</h1>
<p class="lead">
    Search quotes from public domain movies.
    <a target="_blank" href="mailto:stefan@stefanbohacek.com?subject=Public%20Domain%20Film%20Quote%20Search&body=Hi%20Stefan%2C%0A%0AHere's%20a%20movie%20you%20should%20add%20to%20your%20database%3A%0A%0A-%20TITLE%0A-%20ARCHIVE.ORG%20LINK%0A-%20OPENSUBTITLES.ORG%20LINK">Suggest a movie</a>
    |    
    <a href="..">Go back</a>
</p>
<p class="text-muted mb-4">

</p>
<div class="row">
  {{#each films}}
  <div class="col-12 col-md-4 col-lg-3 pb-5">
    <p class="lead fw-bold mb-0">{{this.title}}</p>
    <p class="text-muted">{{this.year}}</p>
    <a target="_blank" href="{{this.video_page}}">
        <img class="movie-poster" loading="lazy" width="182" height="268" src="/images/thumbnails/{{this.id}}.jpg" alt="Movie poster for {{this.title}}">
    </a>
  </div>

  {{/each}}

</div>